.animated-text {
  display: inline-block;
  position: relative;
}

.cursor {
  animation: blink 1s infinite;
  color: #7e5dbb;
  font-weight: bold;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}